@import "../../sass-utils/font-sets";

.photo_input {
  position: absolute;
  width: 100%;
  height: 54px;
  opacity: 0;
  &:hover {
    cursor: pointer;
  }
}

.file_label {
  position: relative;
  height: 54px;
  z-index: 2;
  border-radius: 4px;
  margin-bottom: 50px;
}

.file_input_area {
  height: 54px;
  display: flex;
  margin-bottom: 10px;
}

.file_input_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 4px 0px 0px 4px;
}

.file_input_name {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  z-index: -1;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #d0cfcf;
  padding-left: 16px;
  margin-left: -1px;
}

.file_input_button_span {
  @include font-set($size: 16px);
}

.file_input_file_name {
  @include font-set($size: 16px, $color: #7e7e7e);
}

.input_error {
  border: 1px solid #cb3d40;
}
