@import "../../sass-utils/font-sets";

.success_container {
  display: inline-block;
  margin: 0 auto 30px auto;
  padding: 10px;
  width: 270px;
}

.success_image {
  width: 250px;
}

.success_heading {
  @include font-set($size: 40px, $line-height: 40px);
  margin: 50px 0;
}
