@import "../../sass-utils/font-sets";

.helper_text {
  @include font-set($size: 12px, $line-height: 14px, $color: #7e7e7e);
  margin: 0 0 25px 16px;
}
.helper_text_error {
  @include font-set($size: 12px, $line-height: 14px, $color: #cb3d40);
  margin: 0 0 25px 16px;
}

.did_floating_label_content {
  position: relative;
  margin-bottom: 32px;
  &:nth-child(3) {
    margin-bottom: 25px;
  }
}
.did_floating_label {
  @include font-set($size: 16px, $color: #7e7e7e);
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 14px;
  background: #f8f8f8;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  padding: 0 5px;
}

.did_floating_input {
  @include font-set($size: 16px, $text-align: left);
  display: block;
  width: 100%;
  height: 54px;
  background: #f8f8f8;
  box-sizing: border-box;
  padding: 0 16px;
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  &:focus {
    outline: none;
    ~ .did_floating_label {
      left: 12px;
      top: -8px;
      @include font-set($size: 12px, $line-height: 14px, $color: #7e7e7e, $weight: 500);
    }
  }
}

.did_floating_input:not(:placeholder-shown) ~ .did_floating_label {
  left: 12px;
  top: -8px;
  @include font-set($size: 12px, $line-height: 14px, $color: #7e7e7e, $weight: 500);
}

.input_error {
  border: 1px solid #cb3d40;
}

.did_floating_input_error {
  @include font-set($size: 16px, $text-align: left);
  display: block;
  width: 100%;
  height: 54px;
  background: #f8f8f8;
  box-sizing: border-box;
  padding: 0 16px;
  border: 1px solid #cb3d40;
  border-radius: 4px;
  &:focus {
    outline: none;
    ~ .did_floating_label {
      left: 12px;
      top: -8px;
      @include font-set($size: 12px, $line-height: 14px, $color: #cb3d40, $weight: 500);
    }
  }
}

.did_floating_input_error:not(:placeholder-shown) ~ .did_floating_label {
  left: 12px;
  top: -8px;
  @include font-set($size: 12px, $line-height: 14px, $color: #cb3d40, $weight: 500);
}
